<section class="bg-[#0b0b0f] text-[#f5f6f8] py-24 overflow-hidden">
  <div class="max-w-6xl mx-auto px-6">
    <div class="flex flex-col lg:flex-row items-center justify-between gap-8">
      <!-- Texto -->
      <div class="flex-1 space-y-6 animate-fadeSlideLeft">
        <h2 class="text-4xl md:text-5xl font-semibold leading-snug">
          Sem tremedeira.<br />
          Sem coceira.<br />
          <span class="text-[#ff6a00]">Sem crash.</span>
        </h2>

        <div class="grid sm:grid-cols-1 gap-2 animate-fadeSlideRight">
          <p class="text-gray-300 text-lg">
            Cansada de pré-treinos que queimam, tremem e derrubam depois?
          </p>
          <p class="text-gray-300 text-lg">
            E se a energia pudesse ser <strong>prazerosa e precisa?</strong>
          </p>
        </div>
      </div>

      <!-- Imagens -->
      <div
        class="flex gap-5 justify-center lg:justify-end animate-fadeUp"
      >
        <img
          src="../../../assets/image/testemunho.jpeg"
          alt="Imagem 1"
          class="w-48 h-96 rounded-xl object-cover hover:scale-105 transition-transform duration-300"
        />
        <img
          src="../../../assets/image/testemunho1.jpeg"
          alt="Imagem 2"
          class="w-48 h-96 rounded-xl object-cover hover:scale-105 transition-transform duration-300"
        />
        <img
          src="../../../assets/image/testemunho2.jpeg"
          alt="Imagem 3"
          class="w-48 h-96 rounded-xl object-cover hover:scale-105 transition-transform duration-300"
        />
      </div>
    </div>
  </div>
</section>